main{
	max-width:1280px;
	margin: 0 auto;
}
.section.hero::before {
	/* background: url("assets/images/excursion.jpg"); */
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/images/index.webp");
	filter:blur(0);
	opacity:1;
}

.section.hero heading p{
	color:#eee;
	text-transform: uppercase;
	font-size: .8rem;
	margin: initial;
	text-align: initial;
	max-width: initial;
}
.section.hero{
	padding: 10vh 5vw;
}
.hero heading p span{
	color: var(--red);
}
.hero heading h1{
	color:#eee;
	font-family: "Venicelacorla";
	font-size: clamp(5em, 10vw, 10em);
	line-height:150%;
	margin:0;
	font-weight:lighter;
}

.section {
	position:relative;
	padding: 3vh 0;
}

.section heading p,
.section heading h2 {
	text-align: center;
	margin:0 auto;
}
.section heading h2 {
	font-size:3rem;
	/* padding:1em 0 0; */
	font-family: "Venicelacorla";
}
.section heading p{
	max-width: 40rem;
	color: var(--faint-accent);
}

.excursions::before { background: url("assets/images/excursion.jpg"); }
.circuits::before { background: url("assets/images/circuits.jpg"); }
.transport::before { background: url("assets/images/transport.jpg"); }

.separator{
	height:3em;
	width:20em;
	margin: 0 auto 2em;
	display:block;
}


.tabgroup {
	width: 95%;
	margin: 2rem auto 0;
	background-color: white;
	border-radius: 2em;
	overflow:hidden;
	box-shadow: 0 .5em 1em #ddd;
}
.tabgroup .tab {
	display: flex;
}
.tabgroup .tab button {
	background-color: white;
	border: none;
	padding: 1rem 2rem;
	margin:0;
	border-bottom: 1px solid transparent;
	color: var(--accent)
}
.tabgroup .tab button.selected {
	border-bottom: 4px solid var(--accent);
	font-weight:bold
}


.tabcontent:not([hidden]){
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow: hidden;
	flex-wrap: wrap;
}

.tabcontent > .slidesshow {
	box-shadow: 0 0 25px #ccc;
}
.tabcontent > * {
	flex: 1;
	overflow: hidden;
	min-width: min(350px, 100%);
}

/* @media (max-width: 600px) { */
/* 	.tabcontent:not([hidden]){ */
/* 		flex-direction: column; */
/* 	} */
/*  */
/* 	.tabcontent > * { */
/* 		width:100%; */
/* 		height: auto; /* Allow the image to maintain its aspect ratio */ */
/* 	} */
/* } */

.tabcontent > *:nth-child(2) {
	padding: 2em 2.5em;
}
.tabcontent > .about{
	padding: 1em 2em;
}
.tabcontent > .about  h4 { color:crimson; }
.tabcontent > .about  ul { padding: .4em 0; }
.tabcontent > .about  li { padding: .2em 0; }
.tabcontent > .about  li>img {
	width: 1.3em;
	vertical-align: text-bottom;
}
.tabcontent > .about > .meta {
	font-weight:bold;
	display:flex;
	gap: 1rem;
}
.tabcontent .meta > .time { color: crimson; }
.tabcontent .meta > .price { color: darkorange; }
.tabcontent > .about > h3 {
	font-family: times, serif;
	font-size: 2em;
}




.slideshow{
	min-height:300px;
}
.slides{
	height:100%;
	position:relative;
}
.slide {
	position:absolute;
	height:100%;
	width:100%;
	/* height:100%; */
	transition: .7s;
	opacity: .2;
	object-fit:cover;
}
.slide.visible{
	transition: opacity .4s;
	opacity:1
}
.slide:not(.visible) { transform:translateX(-100%) }
.slide.visible ~ .slide { transform:translateX(100%) }

.prev, .next {
	background: rgba(0,0,0,0.4);
	border:none;
	width:40px; height:40px;
	color: white;
	border-radius: 50%;
	transition: background .3s;
	cursor: pointer;
	user-select: none;
}
.next { margin-left:auto; }
:is( .prev, .next):hover { background-color: rgba(0,0,0,0.8); }
.slides:has(.slide.visible:first-child) ~ div>.prev  { display:none; }
.slides:has(.slide.visible:last-child)  ~ div>.next  { display:none; }
.slidecontrol{
	display:flex;
	position:relative;
	top:calc( -50% - 20px);
}
