main{
	max-width:1280px;
	margin: 0 auto;
	color: #222;
}
.hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/images/index.webp");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: 10rem 5rem;
	/* height: 100vh; */
	width: 100%;
	box-sizing: border-box;
	margin: 0 auto;
}

p{
	box-sizing: border-box;
}
.hero heading{
	box-sizing: border-box;
	color: #eee;
}
.hero heading p{
	text-transform: uppercase;
	font-size: .8rem;
	color: #ddd;
	/* font-weight:bold; */
}
.hero heading p span{
	color: var(--red);
}
.hero heading h1{
	font-family: "Venicelacorla";
	font-size: 12vw;
	line-height:150%;
	margin:0;
}

/*  */

.excursion {
	background-image: linear-gradient(rgba(255, 255, 255, .98) 40%, rgba(255, 255, 255, .99)), url("assets/images/excursion.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	/* padding: 2rem 5rem; */
	box-sizing: border-box;
}

.excursion heading p,
.excursion heading h2 {
	text-align: center;
	margin:0 auto;
}
.excursion heading h2 {
	font-size:3rem;
	padding:1em 0 .5em;
	font-family: times, serif;
}
.excursion heading p{
	max-width: 40rem;
	color: #333;
}


.tabgroup {
	width: 95%;
	margin: 2rem auto;
	background-color: white;
	border-radius: 2em;
	overflow:hidden;
	box-shadow: 0 .5em .75em #ccc;
}
.tabgroup .tab {
	display: flex;
}
.tabgroup .tab button {
	background-color: white;
	border: none;
	padding: 1rem 2rem;
	margin:0;
	border-bottom: 1px solid #ddd;
}
.tabgroup .tab button.selected {
	border-bottom: 4px solid var(--red);
	font-weight:bold
}


.tabcontent:not([hidden]){
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow: hidden;
}

.tabcontent > img {
	box-shadow: 0 0 25px #ccc;
}
.tabcontent > * {
	flex: 50%;
	overflow: hidden;
	object-fit: cover;
}

@media (max-width: 600px) {
	.tabcontent:not([hidden]){
		flex-direction: column;
	}

	.tabcontent > * {
		flex: 100%;
		height: auto; /* Allow the image to maintain its aspect ratio */
	}
}

.tabcontent > .about {
	padding: 2em 2.5em;
}
.tabcontent > .about  li {
	padding: .2em 0;
}
.tabcontent > .about  li>img {
	width: 1.3em;
	vertical-align: text-bottom;
}
.tabcontent > .about > .time {
	color: crimson;
	font-weight:bold;
}
.tabcontent > .about > h3 {
	font-family: times, serif;
	font-size: 2em;
}
